<h3>Total Members: <%= @members.count %></h3>

<% @first_25.each do |member| %>
  Name: <%= member[:name] %><br>
  Photo: <%= member[:photoUrl] %><br>
  Allies: <%= member[:allies] %><br>
  Enemies: <%= member[:enemies] %><br><br>
  Affiliations: <%= member[:affiliation] %><br><br>
<% end %><br><br>
