<div id='nation-data'>
  <h3>Total Members: <%= @members.count %></h3>
  <% @members[0..24].each do |member| %>
    <div id='member-<%= member.name %>'>
      Name: <%= member.name %><br>
      Allies: <%= member.format_allies %><br>
      Enemies: <%= member.format_enemies %><br>
      Affiliations: <%= member.affiliation %><br>
      <img src=<%= member.photoUrl %>><br><br>
    </div>
  <% end %><br><br>
</div>
