<h3><%= @members.count %> Members</h3>

<% @detailed_list.each do |member| %>
  <div>
    <% if member.photoUrl != nil %>
      <%= image_tag member.photoUrl%>
    <% end %><br>
    Name: <%= member.name %><br>
    Affiliation: <%= member.affiliation %><br>
    <% if member.allies == [] %>
      Allies: None
    <% else %>
      Allies: <% member.allies.each do |ally| %>
                <%= ally %>
              <% end %>
    <% end %><br>
    <% if member.enemies == [] %>
      Enemies: None
    <% else %>
      Enemies: <% member.enemies.each do |enemy| %>
                <%= enemy %>
              <% end %>
    <% end %><br>
  </div><br>
  ---------------------------------------------------------------------------
<% end %>