<h2> Fire Nation </h2>

Total Members = <%= @characters.count %>

<% @characters.each do |character| %>
  <%= character.id %>
  <%= character.allies %>
  <%= character.enemies %>
  <%= character.name %>
  <%= character.affiliation %>
<% end %>
