<h1><%= @nation %></h1>

<p>Total Members: <%= @total %></p>

<% @members.each do |member| %>
  <% unless member.photoUrl.nil? %>
  <%= image_tag("#{member.photoUrl}") %>
  <% end %>
  <h3><%= member.name %></h3>
  <p>Allies: <%= member.allies %></p>
  <p>Enemies: <%= member.enemies %></p>
  <p>Affiliations: <%= member.affiliation %></p>
  <br>
  <br>
  <hr>
<% end %>
